<form [formGroup]="form" class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-6">
    <input
      type="text"
      class="form-control"
      formControlName="name"
      id="item"
      placeholder="Ingredient"
    />
  </div>

  <div class="col-6">
    <input
      type="number"
      class="form-control"
      formControlName="quantity"
      id="amount"
      placeholder="Amount"
    />
  </div>

  <div class="col-12">
    <button type="button" class="btn btn-primary" (click)="addIngredient()">
      Add
    </button>
  </div>
</form>
